<!doctype html>

<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %} - Framework</title>
</head>

<body>
    <section class="content">{% block content %}{% endblock %}</section>
</body>

</html>